.brownColor {
    color: #b55f1e;
}

.brownBack {
    background-color: #b55f1e;
}

.lightBlueColor {
    color: #bfd1e3;
}

.lightBlueBack {
    background-color: #bfd1e3;
}

.greyColor {
    color: #f3f1fa;
}

.greyBack {
    background-color: #f3f1fa;
}

.blackColor {
    color: #000000;
}

.aliceBlueBack {
    background-color: aliceblue;
}