.brownColor {
    color: #b55f1e !important;
}

.brownBack {
    background-color: #b55f1e !important;
}

.lightBlueColor {
    color: #bfd1e3 !important;
}

.lightBlueBack {
    background-color: #bfd1e3 !important;
}

.greyColor {
    color: #f3f1fa !important;
}

.greyBack {
    background-color: #f3f1fa !important;
}

.blackColor {
    color: #000000 !important;
}

.aliceBlueBack {
    background-color: aliceBlue !important;
}
