.root{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  overflow: scroll;
}

#infoSection{
  font-weight:lighter;
  font-family: cursive, Helvetica, Arial, sans-serif;
  font-size: 2vw;
  padding-top: 1%;
}