.SideBar {
  display: flex;
  max-width: inherit;
  width: 100%;
}

.mobileOpen {
    left: -11px;
    top: 28px !important;
    position: absolute !important;
    border-radius: 25% !important;
    height: 36px !important;
    width: 36px !important;
}

.maxWidth {
    max-width: inherit;
}
