.menu {
    display: flex !important;
    overflow-x: scroll;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

#btnList {
    padding: 10px;
    width: 100px;
    float: right;
}

.btn {
    width: 50px !important;
    height: 50px !important;
}

#selected {
    opacity: 50%;
}

#unselected {
    opacity: 100%;
}

.hiddenScrollbar::-webkit-scrollbar:horizontal{
    -webkit-appearance: none;
    height: 0;
    display: none;
}

.menus {
    padding: 0 !important;
}

