#grid_Login {
  margin-top: 6rem;
  right: 5rem;
  position: absolute;
  min-height: 650px;
}
#box_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
}
#email_form {
  margin-top: 8;
  margin-bottom: 8;
  margin-left: 4;
  margin-right: 4;
  width: 80%;
}
#projectName {
  font-family: cursive, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
  font-variant: normal;
  line-height: 30px; 
}

#signIn {
  font-family: Postoni, garamond, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 4rem;
  margin-bottom: 2vh;
}
#or {
  font-family: Postoni, garamond, serif;
}
@media (max-width: 600px) {
  #grid_About {
    display: none;
  }
  #grid_Login {
    margin-top: 0;
    margin-bottom: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #box_login {
    width: 100%;
  }
} 

@media (max-height: 800px) {
  #grid_Login {
    margin-top: 1rem;
    right: 1rem;
    position: absolute;
  }
}
@media (max-height: 768px) {
  #backgroundImage {
    height: 110vh;
  }
}

.projectPad {
  margin-top: 40px;
}

.error {
  color: red;
  align-content: flex-start;
  position: relative;
  display: flex;
  width: 100%;
}

#Fab_SignIn {
  text-transform: none !important;
  font-size: 16px;
  font-weight: 700;
}

.Fab_SignIn_Others {
  text-transform: none !important;
  font-size: 16px;
}

#padder1 {
  padding-top: 1rem;
}
#extra {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
