#padder {
  height: 20vh;
}

#registrationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email_form {
  margin-top: 8;
  margin-bottom: 8;
  margin-left: 4;
  margin-right: 4;
  width: 80%;
}

#signUp {
  font-family: Postoni, garamond, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 4rem;
  margin-bottom: 2vh;
}

#project {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: black;
}

#bottomPadder {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
}

#link_c {
  color: black;
}

#Fab_SignUp {
  text-transform: none !important;
  font-size: 16px;
  font-weight: 700;
}


