.root{
  min-height: 100vh;

  background-image: url('../../assets/LandingPage_Background.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  overflow: scroll;
}

#infoSection{
  font-weight:lighter;
  font-family: cursive, Helvetica, Arial, sans-serif;
  /* font-size: 2vw; */
  padding-top: 1%;
  resize: both;
  color: #b55f1e;
}