.planView {
    overflow: scroll;
    width: 100%;
    margin: 0;
    height: 75px;
}

#header {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    text-align: center;
}

.colDivider {
    border: 0;
    border-style: solid;
    border-right-width: 2px;
    border-color: grey
}

#imagesPadding {
    padding-right: 27px;
}

.planRow {
    border: 0;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: grey
}

.plans {
    height: 100vh;
}

.planName {
    height: 100%;
    max-height: 75px;
    align-items: center;
    justify-content: center;
    float: right;
    overflow: scroll;
    text-overflow: ellipsis;
    width: 100%;
}

#privateToggle {
    width: 150px;
}

.copy {
    display: flex;
    float: left;
    background: aliceblue !important;
}
